<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>

    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  <body>
    <div class="main">
      <div class="topbar">
        <div class="flex mwm bold-on-hover">
          <a href="/">&leftarrow; BACK</a>
          <p>JAN 01, 1970</p>
        </div>
      </div>

      <h1>
        Heading
      </h1>
      <div class="callout callout--error">
        <i class="c--error" data-lucide="circle-x"></i>
        <div class="callout__body">
          <div class="callout__title c--error">Error message</div>
          <div>
            Error message body text
          </div>
        </div>
      </div>
      <div class="callout callout--info">
        <i class="c--info" data-lucide="info"></i>
        <div class="callout__body">
          <div class="callout__title c--info">Info message</div>
          <div>
            Info message body text
          </div>
        </div>
      </div>
      <p class="f18">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae
        debitis minus quos, nisi error totam harum qui voluptatem! Esse error
        architecto ipsum, eum itaque illo enim. Ex recusandae pariatur quae hic
        voluptates quibusdam, delectus deserunt libero eos et expedita,
        cupiditate, repellat at animi? Ipsum facere optio officiis delectus
        commodi hic consectetur aspernatur, cum doloribus nihil dolor natus
        veritatis doloremque dolorem corrupti, fuga consequatur velit laborum
        non impedit eveniet quas adipisci. Eum labore repellendus vel?
        Reiciendis sed similique ducimus harum quisquam fuga tempore et
        molestiae neque quaerat tempora minus ullam iste, commodi quam obcaecati
        ex a voluptate qui dolorum molestias quae!
      </p>

      <div class="callout callout--success">
        <i class="c--success" data-lucide="circle-check"></i>
        <div class="callout__body">
          <div class="callout__title c--success">Success message</div>
          <div>
            Success body text with
            <span class="code">code()</span>
          </div>
        </div>
      </div>

      <div class="callout callout--warn">
        <i class="c--warn" data-lucide="circle-alert"></i>
        <div class="callout__body">
          <div class="callout__title c--warn">Warning message</div>
          <div>
 Warning body text with
            <span class="code">code()</span>
          </div>
        </div>
      </div>

      <div class="callout callout--error">
        <i class="c--error" data-lucide="circle-x"></i>
        <div class="callout__body">
          <div class="callout__title c--error">Error message</div>
          <div>
            body text
          </div>
        </div>
      </div>

      <p class="f18">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste illum non
        dolorum magnam natus quidem, voluptates alias iure temporibus expedita,
        architecto enim, excepturi dolorem aperiam sequi. Sapiente nemo dolorum
        nesciunt laudantium, non assumenda architecto nobis aperiam fugiat
        delectus, rem, voluptas dolore quidem impedit sunt exercitationem
        molestiae! Eveniet ratione eligendi fugit voluptas modi voluptatem,
        magnam, molestias facere ea porro sunt tenetur tempore officia mollitia
        facilis. Est molestias officiis numquam reprehenderit quod ab commodi
        sequi eaque facere! Corrupti dolorum dolor voluptas porro vel? Aperiam
        fuga est vel dolore officiis, nostrum exercitationem architecto error
        quisquam. Minus quam a dignissimos repellat accusantium blanditiis ab,
        veniam veritatis dolor consectetur, repudiandae porro, temporibus
        perspiciatis nulla quibusdam minima odit. Nemo fugit provident ducimus
        placeat dignissimos deleniti neque, magnam iste consequuntur atque
        libero, soluta ipsum error? Beatae praesentium, asperiores eos incidunt
        architecto perspiciatis aliquid natus nostrum sed magnam, officiis
        facilis error autem maiores. Impedit excepturi, in quas accusantium
        error dolorem consequuntur vitae vero ipsum magni necessitatibus totam
        veritatis eius corporis! Cum est consequuntur culpa blanditiis. Totam
        distinctio quod sit nobis laboriosam voluptatibus minima animi dolore
        minus perferendis, aspernatur ipsa similique rerum ullam, hic alias qui
        modi, adipisci officiis aut inventore voluptates praesentium. Veniam
        ipsam neque exercitationem itaque provident.
      </p>
      <div class="hr2"><span>divider :&rbrace;</span></div>
      <img src="https://cataas.com/cat/gif" alt="cat gif" />
    </div>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>

    <script src="script.js"></script>
  </body>
</html>
